version: "3.9"

services:
  backend:
    image: python:3.11
    container_name: fastapi_app
    working_dir: /app
    volumes:
      - ./backend-1:/app
    ports:
      - "8000:8000"
    command: >
      sh -c "pip install uvicorn fastapi &&
             uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    image: node:20-alpine
    container_name: frontend
    depends_on:
      - backend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
